<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Practice Travel Blog</h1>
    <p class="lead">travel blog practice template.</p>
  </div>
</div>

<div>
  <h1>Welcome#index</h1>
  <p>Find me in app/views/welcome/index.html.erb</p>
  <% if current_user %>
    <%= link_to current_user.first_name, user_path(current_user.id) %>
  <% else %>
    <%= link_to 'login', new_user_session_path %>
    <%= link_to 'register', new_user_registration_path %>
  <% end %>
</div>
<%= link_to 'My Blog', controller: 'posts' %>
<%= link_to 'Create New Blog', new_post_path%>


<% @posts.each do |post| %>

 <p class="title"><%= post.title %></p>
 Written by: <%= post.creator.first_name %><br>
 <p class="body"><%= post.body %></p>
  <%= link_to 'full post', post_path(post.id) %>
<% end %>
