<nav class="navbar navbar-default">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <ul class="nav navbar-nav">
        <li class="navbar-text"> Hello, <%= current_user.email %> </li>
        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav">
        <li><%= link_to "Login", new_user_session_path%></li>
        <li><%= link_to "Register", new_user_registration_path%></li>
      </ul>
    <% end %>
      <div id="bar">
        <%= link_to "Recent Posts", posts_path%>
        <%= link_to "All Articles", articles_path%>
      </div>
    </div>
</nav>
